<mat-dialog-content>
  <div class="login-container">
    <div class="login-card">
      <form [formGroup]="formGroup" (ngSubmit)="onLogin()">
        <h1>Welcome Back</h1>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" type="text" matInput placeholder="Ex. example@gmail.com" name="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput name="password">
        </mat-form-field>

        <button type="submit">Sign In</button>
      </form>
    </div>
  </div>
</mat-dialog-content>