<mat-toolbar *ngIf="role === 'Admin'|| role === 'Doctor'">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-6">
        <button mat-flat-button (click)="createDischarge()" color="primary" class="my-2">
          <mat-icon>add_circle_outline</mat-icon>Create
        </button>
      </div>
      <div class="col-6 mt-3 w-25">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input [(ngModel)]="searchText" (keyup)="loadDischarges()" matInput placeholder="Enter a value" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8 rounded">
        <table mat-table [dataSource]="dataSource" class="custom-table">

          <!-- Discharge Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Admission Id </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{ element.id }} </td>
          </ng-container>

          <!-- Recommendation Column -->
          <ng-container matColumnDef="recommendation">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Recommendation </th>
            <td mat-cell *matCellDef="let element" class="text-truncate"> {{ element.recommendation }} </td>
          </ng-container>

          <!-- Discharge Date Column -->
          <ng-container matColumnDef="dischargeDate">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Discharge Date </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{ element.dischargeDate | date:'MMM dd, yyyy'
              }} </td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Amount </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{ element.amount | currency }} </td>
          </ng-container>

          <!-- Paid Column -->
          <ng-container matColumnDef="isPaid">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Paid Status </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <span class="paid-status" [ngClass]="{ 'paid': element.isPaid, 'unpaid': !element.isPaid }">
                <mat-icon>{{ element.isPaid ? 'check_circle' : 'cancel' }}</mat-icon>
                {{ element.isPaid ? 'Paid' : 'Not Paid' }}
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetails(row)" class="row-click">
          </tr>

          <tr class="mat-row no-data" *matNoDataRow>
            <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
              <div class="messageNoData">
                <mat-icon class="mx-3">error</mat-icon> No records found
              </div>
            </td>
          </tr>

        </table>

        <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="pageCount"
          [showFirstLastButtons]="true" [pageSizeOptions]="paginationOptions" [pageIndex]="pageNumber"
          aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>