<h2 mat-dialog-title>Admission Details</h2>
<mat-dialog-content>
  <div>
    <p><strong>Admission Id:</strong> {{ data.id }}</p>
    <p><strong>Patient Name:</strong> {{ data.patientName }}</p>
    <p><strong>Admission Date:</strong> {{ data.admissionDate | date:'MMM dd, yyyy' }}</p>
    <p><strong>Diagnosis:</strong> {{ data.diagnosis }}</p>
    <p><strong>Observations:</strong> {{ data.observation }}</p>
    <p><strong>Doctor Id:</strong> {{ data.doctorId }}</p>
    <p><strong>Patient Id:</strong> {{ data.patientId }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>